[Desktop Entry]
Type=Application
Exec=clipit
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_AU]=Clipit
Name=Clipit
Comment[en_AU]=
Comment=
