# Copyright 2024 Mark Mandel All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---

- name: Install hyprland compilation dependencies.
  tags: hyprland
  become: true
  apt:
    name:
      - build-essential
      - cmake
      - cmake-extras
      - file
      - fontconfig
      - gettext
      - gettext-base
      - git
      - glslang-tools
      - hwdata
      - libaudit-dev
      - libavcodec-dev
      - libavformat-dev
      - libavutil-dev
      - libcairo2-dev
      - libdbus-c++-dev
      - libdisplay-info-dev
      - libdrm-dev
      - libegl-dev
      - libegl1-mesa-dev
      - libffi-dev
      - libgbm-dev
      - libgles2
      - libglvnd-core-dev
      - libglvnd-dev
      - libiniparser-dev
      - libinput-bin
      - libinput-dev
      - libjxl-dev
      - libmagic-dev
      - libmuparser-dev
      - libpam0g-dev
      - libpipewire-0.3-dev
      - libpixman-1-dev
      - libpolkit-agent-1-dev
      - libpolkit-qt6-1-dev
      - libpugixml-dev
      - libre2-dev
      - librsvg2-dev
      - libsdbus-c++-dev
      - libseat-dev
      - libspa-0.2-dev
      - libspng-dev
      - libtomlplusplus-dev
      - libtomlplusplus3
      - libudev-dev
      - libwayland-dev
      - libxcb-composite0-dev
      - libxcb-dri3-dev
      - libxcb-errors-dev
      - libxcb-ewmh-dev
      - libxcb-ewmh2
      - libxcb-icccm4-dev
      - libxcb-present-dev
      - libxcb-render-util0-dev
      - libxcb-res0-dev
      - libxcb-xinput-dev
      - libxcursor-dev
      - libxkbcommon-dev
      - libxkbcommon-x11-dev
      - libxkbregistry-dev
      - libxml2-dev
      - libzip-dev
      - meson
      - ninja-build
      - qt6-base-dev
      - qt6-declarative-dev
      - qt6-declarative-private-dev
      - qt6-wayland-dev
      - qt6-wayland-private-dev
      - seatd
      - wayland-protocols
      - wget

- name: Enable experimental APT source for g++-15
  tags: hyprland
  become: true
  copy:
    src: "{{ playbook_dir }}/ui/files/experimental.sources"
    dest: /etc/apt/sources.list.d/experimental.sources

- name: Update apt package cache
  tags: hyprland
  become: true
  apt:
    update_cache: yes

- name: install wayland and hyprland util packages
  tags: hyprland
  become: true
  apt:
    name:
      - xwayland
      - xdg-desktop-portal
      - xdg-desktop-portal-gtk
      - nwg-look
      - qt6ct
      - wofi
      - dunst
      - playerctl
      - pipewire
      - wireplumber
      - xwaylandvideobridge
      - qt6-wayland
      - waybar
      - pavucontrol
      - brightnessctl
      - network-manager-applet
      - system-config-printer
      - wdisplays
      - blueman

# Set facts for reuse
- name: Setting hyprland facts
  tags: hyprland
  set_fact:
    hyprland_version: v0.53.3

- name: Check if hyprland is installed
  tags: hyprland
  stat:
    path: /usr/local/bin/hyprland
  register: hyprland_installed

- name: Compare hyprland version (will be empty if the version doesn't match)
  tags: hyprland
  shell: |
    hyprland --version | grep {{ hyprland_version }}
  register: hyprland_version_match
  ignore_errors: true
  when: hyprland_installed.stat.exists

- name: Install hyprland yes/no?
  tags: hyprland
  set_fact:
    install_hyprland: "{{ lookup('ansible.builtin.env', 'FORCE_HYPR') | length > 0 or hyprland_version_match.stdout | default('') | trim | length == 0 }}"

# Clone everything first

- name: Create Hyprland Opt directory
  tags: hyprland
  become: true # Required for creating directories in /opt/
  file:
    path: /opt/hyprland
    state: directory
    mode: '0755'
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"

- name: Clone hyprwayland-scanner
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/hyprwayland-scanner
    dest: /opt/hyprland/hyprwayland-scanner
    version: v0.4.5

- name: Clone hyprutils
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/hyprutils
    dest: /opt/hyprland/hyprutils
    version: v0.11.0

- name: Clone aquamarine
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/aquamarine
    dest: /opt/hyprland/aquamarine
    version: v0.10.0

- name: Clone hyprlang
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/hyprlang
    dest: /opt/hyprland/hyprlang
    version: v0.6.8

- name: Clone hyprcursor
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/hyprcursor
    dest: /opt/hyprland/hyprcursor
    version: v0.1.13

- name: Clone hyprgraphics
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/hyprgraphics
    dest: /opt/hyprland/hyprgraphics
    version: v0.5.0

- name: Clone hyprwire
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/hyprwire
    dest: /opt/hyprland/hyprwire
    version: v0.2.1

- name: Clone hyprtoolkit
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/hyprtoolkit
    dest: /opt/hyprland/hyprtoolkit
    version: v0.5.3

- name: Clone hyprland-guiutils
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/hyprland-guiutils
    dest: /opt/hyprland/hyprland-guiutils
    version: v0.2.1

- name: Clone Hyprland
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/Hyprland
    dest: /opt/hyprland/Hyprland
    version: "{{ hyprland_version }}"

- name: Clone hyprlock
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/hyprlock
    dest: /opt/hyprland/hyprlock
    version: v0.9.2

- name: Clone hyprpaper
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/hyprpaper
    dest: /opt/hyprland/hyprpaper
    version: v0.8.1

- name: Clone hypridle
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/hypridle
    dest: /opt/hyprland/hypridle
    version: v0.1.7

- name: Clone xdg-desktop-portal-hyprland
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/xdg-desktop-portal-hyprland
    dest: /opt/hyprland/xdg-desktop-portal-hyprland
    version: v1.3.11

- name: Clone hyprland-qt-support
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/hyprland-qt-support
    dest: /opt/hyprland/hyprland-qt-support
    version: v0.1.0

- name: Clone hyprpolkitagent
  tags: hyprland
  retries: 5
  delay: 5
  git:
    repo: https://github.com/hyprwm/hyprpolkitagent
    dest: /opt/hyprland/hyprpolkitagent
    version: v0.1.3

# Now compile and install it!

- name: hyprwayland-scanner - cmake & build
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprwayland-scanner
    cmd: |
      cmake -DCMAKE_INSTALL_PREFIX=/usr -B build
      cmake --build build -j `nproc`
- name: hyprwayland-scanner - install
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprwayland-scanner
    cmd: cmake --install build
  become: true
- name: hyprutils - cmake & build
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprutils
    cmd: |
      cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_INSTALL_PREFIX:PATH=/usr -S . -B ./build
      cmake --build ./build --config Release --target all -j`nproc 2>/dev/null || getconf NPROCESSORS_CONF`
- name: hyprutils - install
  tags: hyprland
  become: true
  shell:
    chdir: /opt/hyprland/hyprutils
    cmd: cmake --install build
- name: aquamarine - cmake & build
  tags: hyprland
  shell:
    chdir: /opt/hyprland/aquamarine
    cmd: cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_INSTALL_PREFIX:PATH=/usr -S . -B ./build && cmake --build ./build --config Release --target all -j`nproc 2>/dev/null || getconf NPROCESSORS_CONF`
- name: aquamarine - install
  tags: hyprland
  shell:
    chdir: /opt/hyprland/aquamarine
    cmd: cmake --install build
  become: true
- name: hyprlang - cmake & build
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprlang
    cmd: cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_INSTALL_PREFIX:PATH=/usr -S . -B ./build && cmake --build ./build --config Release --target hyprlang -j`nproc 2>/dev/null || getconf NPROCESSORS_CONF`
- name: hyprlang - install
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprlang
    cmd: cmake --install ./build
  become: true
- name: hyprcursor - cmake & build
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprcursor
    cmd: cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_INSTALL_PREFIX:PATH=/usr -S . -B ./build && cmake --build ./build --config Release --target all -j`nproc 2>/dev/null || getconf NPROCESSORS_CONF`
- name: hyprcursor - install
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprcursor
    cmd: cmake --install build
  become: true
- name: hyprgraphics - cmake & build
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprgraphics
    cmd: cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_INSTALL_PREFIX:PATH=/usr -S . -B ./build && cmake --build ./build --config Release --target all -j`nproc 2>/dev/null || getconf NPROCESSORS_CONF`
- name: hyprgraphics - install
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprgraphics
    cmd: cmake --install build
  become: true
- name: hyprwire - cmake & build
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprwire
    cmd: cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_INSTALL_PREFIX:PATH=/usr -S . -B ./build && cmake --build ./build --config Release --target all -j`nproc 2>/dev/null || getconf NPROCESSORS_CONF`
- name: hyprwire - install
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprwire
    cmd: cmake --install build
  become: true
- name: hyprtoolkit - cmake & build
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprtoolkit
    cmd: cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_INSTALL_PREFIX:PATH=/usr -S . -B ./build && cmake --build ./build --config Release --target all -j`nproc 2>/dev/null || getconf NPROCESSORS_CONF`
- name: hyprtoolkit - install
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprtoolkit
    cmd: cmake --install build
  become: true
- name: hyprland-guiutils - cmake & build
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprland-guiutils
    cmd: cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_INSTALL_PREFIX:PATH=/usr -S . -B ./build && cmake --build ./build --config Release --target all -j`nproc 2>/dev/null || getconf NPROCESSORS_CONF`
- name: hyprland-guiutils - install
  tags: hyprland
  shell:
    chdir: /opt/hyprland/hyprland-guiutils
    cmd: cmake --install build
  become: true

- name: Hyprland - make all
  shell:
    chdir: /opt/hyprland/Hyprland
    cmd: make all
  when: install_hyprland
  tags: hyprland
- name: Hyprland - make install
  shell:
    chdir: /opt/hyprland/Hyprland
    cmd: make install
  become: true
  when: install_hyprland
  tags: hyprland

- name: hyprland-protocols - ninja install
  become: true
  shell:
    chdir: /opt/hyprland/Hyprland/subprojects/hyprland-protocols
    cmd: |
      meson setup build
      ninja -C build
      ninja -C build install
  tags: hyprland

- name: hyprlock - cmake & build
  shell:
    chdir: /opt/hyprland/hyprlock
    cmd: cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -S . -B ./build && cmake --build ./build --config Release --target hyprlock -j`nproc 2>/dev/null || getconf NPROCESSORS_CONF`
  tags: hyprland
- name: hyprlock - install
  shell:
    chdir: /opt/hyprland/hyprlock
    cmd: cmake --install build
  become: true
  tags: hyprland
- name: hyprpaper - cmake & build
  shell:
    chdir: /opt/hyprland/hyprpaper
    cmd: cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_INSTALL_PREFIX:PATH=/usr -S . -B ./build && cmake --build ./build --config Release --target hyprpaper -j`nproc 2>/dev/null || getconf NPROCESSORS_CONF`
  tags: hyprland
- name: hyprpaper - install
  shell:
    chdir: /opt/hyprland/hyprpaper
    cmd: cmake --install ./build
  become: true
  tags: hyprland

- name: xdg-desktop-portal-hyprland - cmake & build
  shell:
    chdir: /opt/hyprland/xdg-desktop-portal-hyprland
    cmd: cmake -DCMAKE_INSTALL_LIBEXECDIR=/usr/lib -DCMAKE_INSTALL_PREFIX=/usr -B build && cmake --build build
  tags: hyprland
- name: xdg-desktop-portal-hyprland - install
  shell:
    chdir: /opt/hyprland/xdg-desktop-portal-hyprland
    cmd: cmake --install build
  become: true
  tags: hyprland

- name: hyprland-qt-support - cmake & build
  shell:
    chdir: /opt/hyprland/hyprland-qt-support
    cmd: |
      cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_INSTALL_PREFIX:PATH=/usr -S . -B ./build
      cmake --build ./build --config Release --target all -j`nproc 2>/dev/null || getconf NPROCESSORS_CONF`
  tags: hyprland
- name: hyprland-qt-support - install
  become: true
  shell:
    chdir: /opt/hyprland/hyprland-qt-support
    cmd: cmake --install build
  tags: hyprland

- name: hypridle - cmake & build
  shell:
    chdir: /opt/hyprland/hypridle
    cmd: |
      cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -S . -B ./build
      cmake --build ./build --config Release --target hypridle -j`nproc 2>/dev/null || getconf NPROCESSORS_CONF`
  tags: hyprland
- name: hypridle - install
  shell:
    chdir: /opt/hyprland/hypridle
    cmd: cmake --install build
  become: true
  tags: hyprland

- name: hyprpolkitagent - cmake & build
  shell:
    chdir: /opt/hyprland/hyprpolkitagent
    cmd: |
      cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_INSTALL_PREFIX:PATH=/usr -S . -B ./build
      cmake --build ./build --config Release --target all -j`nproc 2>/dev/null || getconf NPROCESSORS_CONF`
  tags: hyprland
- name: hyprpolkitagent - install
  become: true
  shell:
    chdir: /opt/hyprland/hyprpolkitagent
    cmd: cmake --install build
  tags: hyprland

