# Copyright 2025 Mark Mandel All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---

# TODO: may also want to disable interfaces from autoconnecting etc.

# From: https://wiki.debian.org/NetworkManager#Wired_Networks_are_Unmanaged

- name: Configure NetworkManager
  become: true
  copy:
    src: NetworkManager.conf
    dest: /etc/NetworkManager/NetworkManager.conf

- name: Restart NetworkManager to pickup changes
  become: true
  ansible.builtin.service:
    name: NetworkManager
    state: restarted
